body {
  background-color: #C7C0B8;
  color: #404040;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.about-us h2 {
    font-family: Cambria;
    font-size: 60px;
    color: #f2f2f2;
}

.filter {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}
.background-1 {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  background-image: url("../assets/team_photo1.JPG");
  background-repeat: no-repeat;
}

.background-2 {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  background-image: url("../assets/london.jpeg");
  background-repeat: no-repeat;
}

.background-3 {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  background-image: url("../assets/laptop.jpeg");
  background-repeat: no-repeat;
}

.about-us {
  padding-top: 100px;
  font-family: Cambria;
  font-size: 18px;
  color: #f2f2f2;
  margin-left: 100px;
  width: 50%;
}

.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.closedsidenav{
  width: 0;
}

.opensidenav{
  width: 30%;
}

.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #404040;
   display: block;
   transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
   color: #F0F1F4;
}

.closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px !important;
   margin-left: 50px;
}

#main {
   transition: margin-left .5s;
   padding: 0px;
   background-color: #C7C0B8;
}

.mainclosedsidenav {
  margin-left: 0;
}

.mainopensidenav {
  margin-left: 25%;
}

@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}
.img-text {
  margin-top: 50px;
  margin-left: 50px;
}

.img-text a {
  color: white;
}

.img-circle {
  border-radius: 50%;
  height: 225px;
  width: 225px;
}

.folder {
  height: auto;
  width: 25vh;
}

.projects {
  width: 100%;
}

.project1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
}

.team {
  width: 100%;
}

.team h2 {
  padding-top: 5px;
  font-family: Cambria;
  font-size: 60px;
  text-align: center;
  color: #f2f2f2;
}

.images {
  margin: auto;
  padding-top: 200px;
}

.col-1 {
  text-align: center;
  display: inline-block;
  width: 25%;
}

.teamperson {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  padding: 10px;
}

.teamperson .img-text {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all .25s;
  pointer-events: none;
  cursor: default;
}

.teamperson.toggle .img-text {
  opacity: 1;
  pointer-events: all;
  cursor: crosshair;
}

.teamperson.toggle img{
  opacity: 0;
}

.teamperson.toggle h4{
  display: none;
}

.teamperson img {
  opacity: 1;
  transition: all .25s;
}

.nameperson {
  position: relative;
}

.nameperson h4 {
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 0;
  height: 225px;
  width: 225px;
  color: black;
  font-weight: bold;
  margin: 0;
  opacity: 0;
  transition: all .25s;
}

.teamperson:not(.toggle):hover h4 {
  opacity: 1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Cambria;
  font-size: 60px;
  text-align: center;
  color: #f2f2f2;
  padding-top: 5px;
  margin: 0;
  diplay: inline-block;
}

.projects h2 {
  font-family: Cambria;
  font-size: 60px;
  text-align: center;
  color: #f2f2f2;
  padding-top: 5px;
  margin: 0;
}

.projects p {
    font-family: Cambria;
    font-size: 18px;
    color: #f2f2f2;
}

.team p {
  font-family: Cambria;
  font-size: 18px;
  color: #f2f2f2;
}

title {
  display: inline-block;
  height: 50px;
}

.c-hamburger {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

.c-hamburger--htx {
  background-color: #f2f2f2;
  position: fixed;
  z-index: 100;
}

@media screen and (max-width: 900px) {

  h1 {
    font-size: 40px;
  }

  .about-us h2 {
    font-size: 40px;
  }

  .team h2 {
    font-size: 40px;
  }

  .projects h2 {
    font-size: 40px;
  }

  .c-hamburger--htx {
    position: relative;
  }

  .col-1 {
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-circle {
    height: 175px;
    width: 175px;
  }

  .nameperson:hover h4 {
    height: 175px;
    width: 175px;
  }

  .img-text p {
    font-size: 15px;
  }

  .images {
    padding-top: 20px;
  }

  .projects{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 384px) {
  .col-1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-circle {
    height: 125px;
    width: 125px;
  }

  .sidenav a {
    font-size: 16px;
    padding: 8px 8px 8px 10px;
  }

  .about-us p {
    font-size: 16px;
  }

  .nameperson:hover h4 {
    height: 125px;
    width: 125px;
  }

  .img-text p {
    font-size: 12px;
  }

}
