body {
  background-color: #C7C0B8;
  color: #404040;
  font-family: sans-serif;
}

.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.closedsidenav{
  width: 0;
}

.opensidenav{
  width: 30%;
}

.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #404040;
   display: block;
   transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
   color: #F0F1F4;
}

.closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px !important;
   margin-left: 50px;
}

#main {
   transition: margin-left .5s;
   padding: 20px;
}

.mainclosedsidenav {
  margin-left: 0;
}

.mainopensidenav {
  margin-left: 25%;
}

@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

.img-circle {
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
}

.folder {
  height: 200px;
  width: auto;
}

.team {
  width: 100%;
}

.images {
  margin: auto;
  overflow: auto;
}

.team2 {
  display: inline-block;
  width: 50%;
}

.teamperson {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;
  padding: 10px;
}

.teamperson p {
  display: none;
}

.teamperson.toggle p{
  display: block;
}

.teamperson.toggle img{
  display: none;
}

@media screen and (max-width: 480px) {
  .team2 {
    display: block;
  }
}
